@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* import font Codec Pro black*/
@font-face {
  font-family: 'Codec Pro Ultra';
  src: url('../fonts/CodecPro-Ultra.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
/*
@font-face {
  font-family: 'Codec Pro';
  src: local('Codec Pro Ultra'), local('Codec-Pro-Ultra'),
      url('CodecPro-Ultra.woff2') format('woff2'),
      url('CodecPro-Ultra.woff') format('woff'),
      url('CodecPro-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

body {  
  font-family: 'Gothic A1', sans-serif;    
  font-family: 'Codec Pro';  
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}
.input-nombre{
  border-radius: 20px;
    border: 1px solid #80808069;
    border-color: #808080a6;
    padding: 5px;
    padding-left: 10px;
}

.contenedor-todo{  
  display: flex;
  position: relative;
  top: 0;
  flex-direction: column;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 200px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.contenedor-nombre h1{
  font-size: 12em;
  font-weight: 900;
  font-family: 'Codec Pro Ultra';
  font-size: 12em;
  letter-spacing: -28px;
  color: #0080008a;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.contenedor-logo{
  text-align: center;
  margin: auto;
  position: relative;
  max-width: 150px;
  margin-top: 0px;
}
.contenedor-hastag { 
  margin-top: 40px;

}
.pacto-hastag{
  margin: 50px;
  margin-top: -200px;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #a52e94;

}
.contenedor-logo img{
  width: 100%;
}
h1{  
  
}
.contenedor-nombre{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 200px;
    /*margin-bottom: 400px;*/    
    align-items: center;
}
.contenedor-nombre img{
    width: 100px;
    margin-left: 20px;
    margin-top: -80px;
    height: 100px;
    z-index: -1;
}
.cont-instruciones{
  position: absolute;
  top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.input-nombre{  
  /*margin-top: 180px;*/
  top: 10px;
  margin-top: 0px;
  align-self: center;
  width: 200px;
  font-size: 20px;
  z-index: 2;
}

.cont-instruciones p {
  padding-top: 5px;
  color: rgb(158, 158, 158);
  position: relative;
  display: inline-block; 
  line-height: 1px;
  font-size: 10px; 
}


/*FOOTER*/
footer{
    display: block;
    bottom: 0;
    width: 100%;    
    padding: 10px;  
    margin-top: 6000px;  
    font-size: 0.7em;
}
.site-footer
{
  background-color: #26272b;
  /* padding: 45px 0 20px; */
  font-size: 15px;
  /* line-height: 24px; */
  color: #ebebeb;
  margin-top: 50px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ece8e8;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media (max-width: 700px) {
 
  h1{
    font-size: 6em;
    letter-spacing: -16px;
  }
 .contenedor-nombre img{
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
  height: 40px;
  z-index: -1;
}
.contenedor-todo{
  margin-bottom: 100px;
  margin-top: 180px;
}
    .contenedor-nombre {        
        margin: 20px;
        
    }
    .contenedor-logo{
      
      max-width: 80px;
      margin-top: 15px;
    }
    .contenedor-logo img{
      width: 100%;
    }
    .contenedor-hastag { 
  
    }
    .pacto-hastag{
      margin: 50px;
      margin-top: -50px; 
      font-size: 0.8em;
      font-weight: 500;
      letter-spacing: 0.1px;
      color: #a52e94;
    
    }
}