@font-face {
    font-family: 'Codec Pro';
    src: local('Codec Pro Ultra'), local('Codec-Pro-Ultra'),
        url('CodecPro-Ultra.woff2') format('woff2'),
        url('CodecPro-Ultra.woff') format('woff'),
        url('CodecPro-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }